<div class="navbar">
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/businessProfile">My Profile</a>
</div>
<div class="body">

{{!-- source the info from the businesses  --}}

    <h1>My Profile</h1>
    <div class="business">
        <div class="profile">

            <div class="profileDetails">
                <div class="left">
                    <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
                    <h3>{{username}}</h3>
                </div>
                <div class="right">
                    <h2>{{name}} </h2>
                    <div class="locationDiv">
                        <img src="/public/location.png" class="locationPicture">
                        <p>{{city}}, {{state}}</p>
                    </div>

                    <div class="divider"></div>
                    <p>About Us: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

            </div>

        </div>
        
        <div class="divider"></div>
        <div class="collection">
            <h2>My Stock</h2>
            {{#each figurineStock}}
                <p>{{this}}</p>
            {{/each}} <br>

            <form>
                <label for="add-stock"><h2>Add Stock</h2></label> <br>
                <select name="add-stock" id="add-stock">
                    {{#each figList}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
               
                <button onclick="addToStock()" id="AddButton" name="AddButton">Add to Stock</button>
            </form>
        </div>

    </div> 
</div>

<script>
    function addToStock(seriesName) {
        const selectedOption = document.getElementById('add-stock').value;
        sendPatchRequest(`/addToStock/${selectedOption}`);
    }

    function sendPatchRequest(url) {
        fetch(url, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
                // Add any additional headers if needed
            },
            // Add any request body if needed
        }).then(response => {
            // Handle response
        }).catch(error => {
            // Handle error
        });
    }
</script>