<div class="body">
{{!-- source the info from the businesses  --}}

    <h1>My Profile</h1>
    <div class="business">
        <div class="profile">

            <div class="profileDetails">
                <div class="left">
                    <img src="/public/bProfile.png" alt="Profile Picture" class="profile-picture">
                    <h3>{{username}}</h3>
                </div>
                <div class="right">
                    <h2>{{storeName}} </h2>
                    <div class="locationDiv">
                        <img src="/public/location.png" alt="Location" class="locationPicture">
                        <p>{{city}}, {{state}}</p>
                    </div>

                    <div class="divider"></div>
                    <p>About Us: {{bio}}</p>
                   
                    <div class="edit">
                    <button type="submit" class="btn btn-light align-right" id="editProfileButton"
                        name="editProfile">Edit
                        Profile Info</button>
                    </div>
                </div>

            </div>

        <div class="modal" id="editProfileModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" id="closeEdit" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{#if error}}
                        <p class="alert alert-danger">{{error}}</p>
                        {{/if}}
                        <div class="alert alert-danger" style="display: none" id="clientError"></div>
                        <form id="editBusinessProfile" action="/businessProfile" method="POST">
                            <div class="form-group">
                                <label for="storeName">Store Name:</label>
                                <input class="form-control" type="text" id="storeName" name="storeName">

                                <label for="bio">About Us:</label>
                                <textarea class="form-control" rows="5" id="bio" name="bio"></textarea>

                                <button type="submit" class="btn btn-success" id="submitButton"
                                    name="submitButton">Submit Changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        </div>
    </div>   



    <div class="divider"></div>
    
    <h2>My Stock</h2>
    
    <div id ="stock-list">
        {{#each figurineStock}}
            <ul>
            <li>{{this}}</li>
            </ul>
        {{/each}}  
    </div> <br>
    
    <form id="addStockForm">
        <h2>Add Stock</h2>
        <label for="add-stock">Select Figurine:</label> <br>

        <select name="add-stock" id="add-stock" class="dropbtn">
            {{#each figList}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <button id="AddButton" name="AddButton" type="submit" class="addButton">Add</button>

    </form> <br>

    <form id="removeStockForm">
        <h2>Remove Stock</h2>
        <label for="remove-stock">Select Figurine:</label> <br>
        <select name="remove-stock" id="remove-stock" class="dropbtn">
            {{#each figurineStock}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button id="RemoveButton" name="RemoveButton" type="submit" class="addButton">Remove</button>
    </form>
        

   

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="../public/js/mainAjax.js"></script>

</div>
