<h1>The General Collections</h1>
<div id="collection" class="collection">
    {{#each figurineInfo}} {{!-- access to each figurine/key --}}
        <h5>{{figurineName}}</h5>
        {{#each this}}
            <p>{{seriesName}} Series</p>
            <div class="row row-cols-2 row-cols-md-5 g-4">
            {{#each figurineTypes}}
                <div class="col">
                    <div class="card h-100" style="width: 15rem;">
                        <img src={{this.image_url}} class="card-img-top" style="padding: 5px;" alt={{this.modelName}}>
                        <div class="card-body">
                            <h5 class="card-title">{{this.modelName}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                        </ul>
                        {{#if loggedIn}}
                            {{#if user}}
                                {{#if inWishlist}}
                                    <a href="/removeWishlist/{{this.id}}" class="btn btn-danger">Remove from Wishlist</a>
                                {{else}}
                                    <a href="/addWishlist/{{this.id}}" class="btn btn-primary">Add to Wishlist</a>
                                {{/if}}
                                {{#if inCollection}}
                                    <a href="/removeCollection/{{this.id}}" class="btn btn-danger">Remove from My Collection</a>
                                {{else}}
                                    <a href="/addCollection/{{this.id}}" class="btn btn-primary">Add to My Collection</a>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{/each}}
            </div>
        {{/each}}
    {{/each}}
</div>