<h1>The General Collection</h1>

{{#if user}}
    <div id="collection" class="collection">
        {{#each figurineInfo}} {{!-- access to each figurine/key --}}
            <h2>{{@key}}</h2>
            {{#each this}}
                <h3>{{seriesName}} Series</h3>
                <div class="row row-cols-2 row-cols-md-5 g-4">
                {{#each figurineTypes}}
                    <div class="col">
                        <div class="card h-100" style="width: 15rem;">
                            {{#if rare}}
                                <img src={{this.image_url}} class="card-img-top" style="padding: 5px;" alt={{this.modelName}}>
                                <div class="overlay-div rounded-2"></div>
                                <div class="card-img-overlay text-light">
                                    <h5 class="card-title">Secret Figurine</h5>
                                    <p class="card-text">Hover over to see it!</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.modelName}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rarity: <span class="badge bg-success">Rare</span></li>
                                    {{#if inWishlist}}
                                        <li class="list-group-item">
                                            <button class="btn btn-danger" onclick="removeFromWishlist('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from Wishlist</button>
                                        </li>
                                    {{else}}
                                        {{#unless owned}}
                                            <li class="list-group-item">
                                                <button class="btn btn-primary" onclick="addToWishlist('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to Wishlist</button>
                                            </li>
                                        {{/unless}}
                                    {{/if}}
                                    {{#if owned}}
                                        {{#if inTradingList}}
                                            <li class="list-group-item">
                                                <button class="btn btn-success" onclick="removeTrade('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from Trading List</button>
                                            </li>
                                        {{else}}
                                            <li class="list-group-item">
                                                <button class="btn btn-success" onclick="addTrade('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to Trading List</button>
                                            </li>
                                        {{/if}}
                                        <li class="list-group-item">
                                            <button class="btn btn-danger" onclick="removeFromCollection('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from My Collection</button>
                                        </li>
                                    {{else}}
                                        <li class="list-group-item">
                                            <button class="btn btn-primary" onclick="addToCollection('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to My Collection</button>
                                        </li>
                                    {{/if}}
                                </ul>
                            {{else}}
                                <img src={{this.image_url}} class="card-img-top" style="padding: 5px;" alt={{this.modelName}}>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.modelName}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rarity: <span class="badge bg-secondary">Common</span></li>
                                    {{#if inWishlist}}
                                        <li class="list-group-item">
                                            <button class="btn btn-danger" onclick="removeFromWishlist('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from Wishlist</button>
                                        </li>
                                    {{else}}
                                        {{#unless owned}}
                                            <li class="list-group-item">
                                                <button class="btn btn-primary" onclick="addToWishlist('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to Wishlist</button>
                                            </li>
                                        {{/unless}}
                                    {{/if}}
                                    {{#if owned}}
                                        {{#if inTradingList}}
                                            <li class="list-group-item">
                                                <button class="btn btn-success" onclick="removeTrade('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from Trading List</button>
                                            </li>
                                        {{else}}
                                            <li class="list-group-item">
                                                <button class="btn btn-success" onclick="addTrade('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to Trading List</button>
                                            </li>
                                        {{/if}}
                                        <li class="list-group-item">
                                            <button class="btn btn-danger" onclick="removeFromCollection('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Remove from My Collection</button>
                                        </li>
                                    {{else}}
                                        <li class="list-group-item">
                                            <button class="btn btn-primary" onclick="addToCollection('{{../figurineName}}', '{{../seriesName}}', '{{this.modelName}}')">Add to My Collection</button>
                                        </li>
                                    {{/if}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/each}}
        {{/each}}
    </div>
{{else}}
    <div id="collection" class="collection">
        {{#each figurineInfo}} {{!-- access to each figurine/key --}}
            {{#each this}}
                <h5>{{figurineName}}</h5>
                <h3>{{seriesName}} Series</h3>
                <div class="row row-cols-2 row-cols-md-5 g-4">
                {{#each figurineTypes}}
                    <div class="col">
                        <div class="card h-100" style="width: 15rem;">
                            {{#if rare}}
                                <img src={{this.image_url}} class="card-img-top" style="padding: 5px;" alt={{this.modelName}}>
                                <div class="overlay-div rounded-2"></div>
                                <div class="card-img-overlay text-light">
                                    <h5 class="card-title">Secret Figurine</h5>
                                    <p class="card-text">Hover over to see it!</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.modelName}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rarity: <span class="badge bg-success">Rare</span></li>
                                </ul>
                            {{else}}
                                <img src={{this.image_url}} class="card-img-top" style="padding: 5px;" alt={{this.modelName}}>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.modelName}}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rarity: <span class="badge bg-secondary">Common</span></li>
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/each}}
            <br>
        {{/each}}
    </div>
{{/if}}

<script>
    function removeFromWishlist(figurineName, seriesName, modelName) {
        sendPatchRequest(`/removeWishlist/${figurineName}/${seriesName}/${modelName}`);
    }

    function addToWishlist(figurineName, seriesName, modelName) {
        sendPatchRequest(`/addWishlist/${figurineName}/${seriesName}/${modelName}`);
    }

    function removeFromCollection(figurineName, seriesName, modelName) {
        sendPatchRequest(`/removeCollection/${figurineName}/${seriesName}/${modelName}`);
    }

    function addToCollection(figurineName, seriesName, modelName) {
        sendPatchRequest(`/addCollection/${figurineName}/${seriesName}/${modelName}`);
    }

    function removeTrade(figurineName, seriesName, modelName) {
        sendPatchRequest(`/removeTrade/${figurineName}/${seriesName}/${modelName}`);
    }

    function addTrade(figurineName, seriesName, modelName) {
        sendPatchRequest(`/addTrade/${figurineName}/${seriesName}/${modelName}`);
    }

    function sendPatchRequest(url) {
        fetch(url, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json()) // Parse the JSON response
        .then(data => {
            // Check if the operation was successful
            if (data.success) {
                // Reload the page using AJAX
                location.reload();
            } else {
                // Handle the case where the operation failed
                console.error(data.message);
            }
        })
        .catch(error => {
            // Handle fetch errors
            console.error('Error:', error);
        });
    }
</script>