<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="body">
        <h1>Feed</h1>
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}
        <div class="clientError" id="clientError"></div>
        <form id="createpost" action="/createpost" method="GET">
            <button type="submit">Create Post</button>
        </form>
        <div>
            <label for="searchfriend">Search for User:</label>
            <input type="text" id="searchfriend" name="searchfriend">
            <button onclick="searchFriend()">Search</button>
            <button id="seeAllButton" onclick="seeAllPosts()" style="display: none;">See All Posts</button>
        </div>

        <div class="posts-container">
            {{#each posts}}
            <div class="post">
                <div class="postDetails">
                    <p class="name"><b>{{name}}</b>
                        {{#if isAdminPost}}
                        <img src="/public/verified.png" class="adminCheck">
                        {{/if}}
                        {{#if isBusinessPost}}
                        <img src="/public/business icon.png" class="businessIcon">
                        {{/if}}
                    </p>
                    <h2>{{title}}</h2>
                    <div class="postDiv">
                        <p>{{caption}}</p>
                        {{#if isVideo}}
                        <div class="image-container">
                            <video controls>
                                <source src="/public/{{encodeURIComponent file.name}}" class="postVideoOrAudio">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        {{/if}}
                        {{#if isImage}}
                        <div class="image-container">
                            <img src="/public/{{encodeURIComponent file.name}}" class="postPicture">
                        </div>
                        {{/if}}
                    </div>
                    <div class="divider"></div>
                    <form id="ratings-likes-{{_id}}" action="/ratings" method="POST">
                        <input type="hidden" name="rating" value="like">
                        <input type="hidden" name="postId" value="{{_id}}">
                        <div class="countRatings ">
                            <button type="submit" class="thumbIcon">👍</button>
                            <span class="rateCount">{{whoLiked.length}}</span>
                        </div>
                    </form>
                    <form id="ratings-dislikes-{{_id}}" action="/ratings" method="POST">
                    <input type="hidden" name="rating" value="dislike">
                    <input type="hidden" name="postId" value="{{_id}}">
                        <div class="countRatings">
                            <button type="submit" class="thumbIcon">👎</button>
                            <span class="rateCount">{{whoDisliked.length}}</span>
                        </div>
                    </form>
                    <button onclick="toggleLikesAndDislikes('{{_id}}')" class="hide-btn">Hide/Show Likes and Dislikes</button>
                    {{#if isRsvp}}
                    <div class="countRsvp">
                        <button class="rsvpButton">I want to RSVP to this event</button>
                        <label>Number of RSVP</label>
                        <span class="rsvpCount">0</span>
                    </div>
                    {{/if}}
                    <div class="previous-comments" id="comments-{{_id}}">
                        <p><b>Comments</b></p>
                        {{#each comments}}
                        <h2>[{{user}}]</h2>
                        <p>{{comment}}</p>
                        {{/each}}
                    </div>
                    <div class="commentBox">
                        <form id="comments-form-{{_id}}" name="comments" action="/comments" method="POST">
                            <input type="hidden" name="postId" value="{{_id}}">
                            <label for="commentInput">Add Comment:</label>
                            <input type="text" id="commentInput-{{_id}}" name="commentInput" data-post-id="{{_id}}">
                            <button class="add-comment-btn">Add</button>
                        </form>
                        {{#if commentError}}
                        <p class="error">{{commentError}}</p>
                        {{/if}}
                        <div class="clientError" id="clientError"></div>
                    </div>
                    <button onclick="toggleComments('{{_id}}')" class="hide-btn">Hide/Show Comments</button>
                    <p></p>
                    {{#if (equals ../c_usr name)}}
                    <div class="button-container">
                        <form id="edit-{{_id}}" action="/edit" method="GET">
                            <input type="hidden" name="postId" value="{{_id}}">
                            <button type="submit" class="user-post">Edit Your Post</button>
                        </form>
                        <p></p>
                        <form id="delete-{{_id}}" action="/delete" method="POST">
                            <input type="hidden" name="postId" value="{{_id}}">
                            <button type="submit" class="user-post">Delete Your Post</button>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>
<script>
        //likes and dislike accumulator
        /*document.querySelectorAll(".postDetails").forEach(post => {
            const postId = post.dataset.postId;
            const ratings = post.querySelectorAll(".countRatings");
            const likeRating = ratings[0];

            ratings.forEach(rating =>{
                const button= rating.querySelector(".thumbIcon");
                const count= rating.querySelector(".rateCount");
                console.log(button);
                //console.log(count);
                button.addEventListener("click",async()=>{
                    const likeOrDislike = likeRating === rating ? "like" : "dislike";
			        const response = await fetch(`/postDetails/${postId}/${likeOrDislike}`);
                });
        });
         });
        */
        
        //end accumulator

        function toggleLikesAndDislikes(postId) {
            var likesAndDislikes = document.getElementById("ratings-likes-" + postId);
            var likesAndDislikes2 = document.getElementById("ratings-dislikes-" + postId);
            likesAndDislikes.classList.toggle("hidden");
            likesAndDislikes2.classList.toggle("hidden");
        }

        function toggleComments(postId) {
            var commentsSection = document.getElementById("comments-" + postId);
            commentsSection.classList.toggle("hidden");
        }

        function searchFriend() {
            var searchInput = document.getElementById("searchfriend");
            var searchValue = searchInput.value.toLowerCase();
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            var anyMatch = false;

            posts.forEach(function(post) {
                var name = post.querySelector(".name").innerText.toLowerCase();
                if (name.includes(searchValue)) {
                    post.style.display = "block";
                    anyMatch = true;
                } else {
                    post.style.display = "none";
                }
            });

            if (anyMatch) {
                seeAllButton.style.display = "inline-block";
            } else {
                seeAllButton.style.display = "none";
            }

            searchInput.value = "";
        }

        function seeAllPosts() {
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            posts.forEach(function(post) {
                post.style.display = "block";
            });
            seeAllButton.style.display = "none";
        }

    </script>
</html>
