<title>Feed</title>
    <script>
        function toggleLikesAndDislikes(postId) {
            var likesAndDislikes = document.getElementById("likes-" + postId);
            likesAndDislikes.classList.toggle("hidden");
        }

        function toggleComments(postId) {
            var commentsSection = document.getElementById("comments-" + postId);
            commentsSection.classList.toggle("hidden");
        }

        function searchFriend() {
            var searchInput = document.getElementById("searchfriend");
            var searchValue = searchInput.value.toLowerCase();
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            var anyMatch = false; // Flag to check if any post matches the search

            posts.forEach(function(post) {
                var name = post.querySelector(".name").innerText.toLowerCase();
                if (name.includes(searchValue)) {
                    post.style.display = "block";
                    anyMatch = true; // At least one match found
                } else {
                    post.style.display = "none";
                }
            });

            // Show/hide "See All Posts" button based on search result
            if (anyMatch) {
                seeAllButton.style.display = "inline-block"; // Show "See All Posts" button
            } else {
                seeAllButton.style.display = "none"; // Hide "See All Posts" button
            }

            // Clear the search input box
            searchInput.value = "";
        }

        function seeAllPosts() {
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            posts.forEach(function(post) {
                post.style.display = "block";
            });
            seeAllButton.style.display = "none"; // Hide "See All Posts" button
        }
    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/collections">Collections</a>
        <a href="/profile">My Profile</a>
    </div>
    <div class="body">
        <h1>Feed</h1>
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}
        <div class="clientError" id="clientError"></div>
        <form id="createpost" action="/createpost" method="GET"><button id="createpost">Create Post</button></form>
        <div>
            <label for="searchfriend">Search for User:</label>
            <input type="text" id="searchfriend" name="searchfriend">
            <button onclick="searchFriend()">Search</button>
            <button id="seeAllButton" onclick="seeAllPosts()" style="display: none;">See All Posts</button>
        </div>
        <div class="display">
            <div class="post">
                <div class="right">
                    {{#each posts}}
                    <div class="postDetails">
                        <p class="name"><b>{{name}}</b>
                        {{#if isAdmin}}
                            <span class="admin-icon">Admin Icon</span>
                        {{/if}}</p>
                        <h2>{{title}}</h2>
                        <div class="postDiv">
                            <p>{{caption}}</p>
                            <img src="/public/mockpost.jpg" class="postPicture">
                        </div>
                        <div class="divider"></div>
                        <div class="button-group">
                            <form id="likes-{{_id}}">
                                <button class="thumbsUp">👍</button>
                                <button class="thumbsDown">👎</button>
                                <p><b>Likes: </b>{{likes}} <b>Dislikes: </b>{{dislikes}}</p>
                            </form>
                            <button onclick="toggleLikesAndDislikes('{{_id}}')" class="hide-up-down-btn">Hide/Show Likes and Dislikes</button>
                        </div>
                        <div class="previous-comments" id="comments-{{_id}}">
                            <h2>Comments</h2>
                            <ul>
                                {{#each comments}}
                                    <p><b>{{user}}</b></p>
                                    <p>{{comment}}</p>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="commentBox">
                            <form id="comments-{{_id}}" action="/comments" method="POST">
                                <input type="hidden" name="postId" value="{{_id}}">
                                <label for="commentInput">Add Comment:</label>
                                <input type="text" id="commentInput" name="commentInput" data-post-id="{{_id}}">
                                <button class="add-comment-btn">Add</button>
                            </form>
                        </div>
                        <button onclick="toggleComments('{{_id}}')" class="hide-comments-btn">Hide/Show Comments</button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{{!-- <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imgur image upload</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  </head>

  <body>

		<section class="hero is-fullheight">
			<div class="hero-body is-centered">
				<div class="container">
					<div class="columns is-centered is-vcentered">
						
						<div class="column is-6">
                            <p class="title is-size-1">Imgur image upload</p>

                            <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">

                                <div class="file">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="sampleFile">

                                        <span class="file-cta">
                                        <span class="file-label">
                                            Choose a file and upload it
                                        </span>
                                        </span>
                                    </label>
                                </div>
                                <input type='submit' value='Upload!' class="button is-link mt-3" />

                            </form>
						
                        </div>

					</div>
				</div>
			</div>
	</section>

  </body> --}}

