<div class="navbar">
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/profile">My Profile</a>
</div>
<div class="body">
    <h1>Feed</h1>
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <div class="clientError" id="clientError"></div>
    <a href="/createpost">Create Post</a>
    <div class="display">
        <div>
            <label for="searchfriend">Search for a Friend:</label>
            <input type="text" id="searchfriend" name="searchfriend">
        </div>
        <div class="post">
                <div class="right">
    {{#each posts}}
    <div class="postDetails">
        <h2>{{title}}</h2>
    <div class="postDiv">
        <p>{{caption}}</p>
        <img src="mockpost.jpg" class="postPicture"> {{!idk what to put in here for the photo}}
    </div>
        <div class="divider"></div>
        <div class="button-group">
                        <button class="up-btn">&#8593;</button>
                        <button class="down-btn">&#8595;</button>
                        <button class="hide-up-down-btn">Hide Up and Down Feature</button>
        </div>
        <div class="previous-comments">
            <h2>Previous Comments</h2>
    <ul>
            {{#each comments}}
            <li>{{this}}</li>
            <li>{{likes}}</li>
            {{/each}}
    </ul>
    </div>
    <div class="commentBox">
        <label for="commentInput">Add a comment:</label>
        <input type="text" id="commentInput" name="commentInput" data-post-id="{{_id}}">
        <button class = "add-comment-btn"> Add Comment</button>
    </div>
    <button class="hide-comments-btn">Hide comments</button>
</div>
{{/each}}

                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imgur image upload</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  </head>

  <body>

		<section class="hero is-fullheight">
			<div class="hero-body is-centered">
				<div class="container">
					<div class="columns is-centered is-vcentered">
						
						<div class="column is-6">
                            <p class="title is-size-1">Imgur image upload</p>

                            <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">

                                <div class="file">
                                    <label class="file-label">
                                        <input class="file-input" type="file" name="sampleFile">

                                        <span class="file-cta">
                                        <span class="file-label">
                                            Choose a file and upload it
                                        </span>
                                        </span>
                                    </label>
                                </div>
                                <input type='submit' value='Upload!' class="button is-link mt-3" />

                            </form>
						
                        </div>

					</div>
				</div>
			</div>
	</section>

  </body> --}}

