<title>Feed</title>
    <script>
        function toggleLikesAndDislikes(postId) {
            var likesAndDislikes = document.getElementById("likes-" + postId);
            likesAndDislikes.classList.toggle("hidden");
        }

        function toggleComments(postId) {
            var commentsSection = document.getElementById("comments-" + postId);
            commentsSection.classList.toggle("hidden");
        }

        function searchFriend() {
            var searchInput = document.getElementById("searchfriend");
            var searchValue = searchInput.value.toLowerCase();
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            var anyMatch = false;

            posts.forEach(function(post) {
                var name = post.querySelector(".name").innerText.toLowerCase();
                if (name.includes(searchValue)) {
                    post.style.display = "block";
                    anyMatch = true;
                } else {
                    post.style.display = "none";
                }
            });

            if (anyMatch) {
                seeAllButton.style.display = "inline-block";
            } else {
                seeAllButton.style.display = "none";
            }

            searchInput.value = "";
        }

        function seeAllPosts() {
            var posts = document.querySelectorAll(".postDetails");
            var seeAllButton = document.getElementById("seeAllButton");

            posts.forEach(function(post) {
                post.style.display = "block";
            });
            seeAllButton.style.display = "none";
        }

    
        function incrementLikes(postId) {
        // Get the current like count element
            var likeCountElement = document.getElementById("likeCount-" + postId);
    
        // Get the current like count value
            var currentLikes = parseInt(likeCountElement.innerText);
    
        // Increment the like count by 1
            var newLikes = currentLikes + 1;
    
        // Update the like count element with the new value
            likeCountElement.innerText = newLikes;
    
        // You can also send an AJAX request here to update the server with the new like count
            
}

    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/collections">Collections</a>
        <a href="/profile">My Profile</a>
    </div>
    <div class="body">
        <h1>Feed</h1>
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}
        <div class="clientError" id="clientError"></div>
        <form id="createpost" action="/createpost" method="GET"><button id="createpost">Create Post</button></form>
        <div>
            <label for="searchfriend">Search for User:</label>
            <input type="text" id="searchfriend" name="searchfriend">
            <button onclick="searchFriend()">Search</button>
            <button id="seeAllButton" onclick="seeAllPosts()" style="display: none;">See All Posts</button>
        </div>
        <div class="display">
            <div class="post">
                <div class="right">
                    {{#each posts}}
                    <div class="postDetails">
                        <p class="name"><b>{{name}}</b>
                        {{#if isAdminPost}}
                            <img src="/public/verified.png" class="adminCheck">
                        {{/if}}</p>
                        <h2>{{title}}</h2>
                        <div class="postDiv">
                            <p>{{caption}}</p>
                            <img src="/public/mockpost.jpg" class="postPicture">
                        </div>
                        <div class="divider"></div>
                        <div class="button-group">
                            <form id="likes-{{_id}}">
                                <button class="thumbsUp" onclick="incrementLikes('{{_id}}')">👍</button>
                                <button class="thumbsDown" onclick="incrementDislikes('{{_id}}')">👎</button>
                        <p>
                            <b>Likes: </b><span id="likeCount-{{_id}}">{{likes}}</span> 
                            <b>Dislikes: </b><span id="dislikeCount-{{_id}}">{{dislikes}}</span>
                        </p>
    </form>
    <button onclick="toggleLikesAndDislikes('{{_id}}')" class="hide-up-down-btn">Hide/Show Likes and Dislikes</button>
</div>


                        <div class="previous-comments" id="comments-{{_id}}">
                            <p><b>Comments</b></p>
                                {{#each comments}}
                                    <h2>[{{user}}]</h2>
                                    <p>{{comment}}</p>
                                {{/each}}
                        </div>
                        <div class="commentBox">
                            <form id="comments-{{_id}}" action="/comments" method="POST">
                                <input type="hidden" name="postId" value="{{_id}}">
                                <label for="commentInput">Add Comment:</label>
                                <input type="text" id="commentInput" name="commentInput" data-post-id="{{_id}}">
                                <button class="add-comment-btn">Add</button>
                            </form>
                        </div>
                            {{#if (equals ../c_usr name)}}
                            <form id="delete-{{_id}}" action="/delete" method="POST">
                                <input type="hidden" name="postId" value="{{_id}}">
                                <button type="submit">Delete</button>
                            </form>
                            {{/if}}
                        <button onclick="toggleComments('{{_id}}')" class="hide-comments-btn">Hide/Show Comments</button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>