<h1>My Profile</h1>
<div class="personal">
    <div class="profile">

        <div class="profileDetails">
            <div class="left">
                <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
                <h3>{{username}}</h3>
            </div>
            <div class="right">
                <h2>{{firstName}} {{lastName}}</h2>
                <div class="locationDiv">
                    <img src="/public/location.png" class="locationPicture">
                    {{#if location}}
                    <p>{{location}}</p>
                    {{else}}
                    <p>No location specified</p>
                    {{/if}}
                    
                </div>

                <div class="divider"></div>
                {{#if bio}}
                <p>Bio: {{bio}}</p>
                {{else}}
                <p>Bio: Add a bio!</p>
                {{/if}}

                {{#if favFig}}
                <p>Favorite Figurine: {{favFig}}</p>
                {{else}}
                <p>Favorite Figurine: Add a figurine!</p>
                {{/if}}

                <div class="edit">
                    <button type="submit" class="btn btn-light align-right" id="editProfileButton"
                        name="editProfile">Edit
                        Profile</button>
                </div>
            </div>

        </div>
        <div class="modal" id="editProfileModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" id="closeEdit" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{#if error}}
                        <p class="alert alert-danger">{{error}}</p>
                        {{/if}}
                        <div class="alert alert-danger" style="display: none" id="clientError"></div>
                        <form id="editProfile" action="/profile" method="POST">
                            <div class="form-group">
                                <label for="first">First Name:</label>
                                <input class="form-control" type="text" id="first" name="first">

                                <label for="last">Last Name:</label>
                                <input class="form-control" type="text" id="last" name="last">

                                <label for="location">Location:</label>
                                <input class="form-control" type="text" id="location" name="location">

                                <label for="bio">Bio:</label>
                                <textarea class="form-control" rows="5" id="bio" name="bio"></textarea>

                                <label for="favFig">Favorite Figurine:</label>
                                <input class="form-control" type="text" id="favFig" name="favFig">



                                <button type="submit" class="btn btn-success" id="submitButton"
                                    name="submitButton">Submit Changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="badges">
            <div class="buttontitle">
                <h2>My Badges</h2>

            </div>
            {{#if hasBadges}}
                {{#each badges}}
                    {{#if this}}
                        <p>{{@key}}</p>
                        {{#each this}}
                            <p>{{this}}</p>
                        {{/each}}
                    {{/if}}
                {{/each}}
            {{else}}
                <p>You don't have any badges currently.</p>
            {{/if}}
        </div>

        <div class="wishlist">
            <div class="wishTitle">
                <h2>My Wishlist</h2>
                <button class="addWish" id="addWish">Add Wish</button>
            </div>
            {{#if hasWishlist}}
                <div class="wishList">
                    <ul class="list-group">
                        {{#each wishlist}}
                            <li class="list-group-item wishItem">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{else}}
                <p>You don't have any wishes currently.</p>
            {{/if}}
            <div class="overlay" id="overlay"></div>
            <div class="wish-form-popup" id="wishformPopup">
                <h3>Add New Wish</h3>
                <div class="alert alert-danger" id="wishclientError"></div>
                <form id="wishForm" class="wishForm" action='/wishlist' method="POST">
                    <label class="wishLabel" id="wishLabel" for="wishName">Item:</label>
                    <input class="wishName" type="text" id="wishName" name="wishName" placeholder="Enter Wish Name">
                    <div class="closeButton">
                        <button class="wishSubmit" type="submit">Submit</button>
                    </div>
                </form>
                <div class="closeButton">

                    <button id="closeButton" class="wishClose">Close</button>
                </div>

            </div>
        </div>

    </div>

    {{#if eligible}}
    <div class="jumbotron">
        <h3>You are eligible to become an Admin!</h3>
        <p>If you are seeing this, you have been a user for at least 3 years, which
            makes you eligible to apply to become an admin.
        </p>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#theModal">
            Apply here!
        </button>
        {{#if error}}
        <p class="alert alert-danger">{{error}}</p>
        {{/if}}
        <div class="modal" id="theModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Admin Application</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{#if error}}
                        <p class="alert alert-danger">{{error}}</p>
                        {{/if}}
                        <div class="alert alert-danger" style="display: none" id="clientError"></div>
                        <form id="admin-app" class="was-validated" action="/adminApplication" method="POST">
                            <div class="form-group">
                                <p>Please provide a valid email for identification.</p>
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" id="email" name="email" required>


                                <label for="whyAdmin">Why would you like to be an admin?</label>
                                <textarea class="form-control" rows="5" id="whyAdmin" name="whyAdmin"
                                    required></textarea>

                                <button type="submit" class="btn btn-success" id="submitButton"
                                    name="submitButton">Submit Application</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>

    {{/if}}
    <div class="divider"></div>
    <div class="collection">
        <h2>My Collections</h2>
        <button class="addCollectionName" onclick="window.location.href='/collections'">Edit Collection</button>
        <br></br>
        <div class="collectionList">
                {{#if collectionExists}}
                    {{#each figurineInfo}}
                        {{#each this}}
                        <br></br>
                            <div class="row row-cols-2 row-cols-md-5 g-4">
                                {{#each this.figurineTypes}}
                                    {{#if owned}}
                                        <div class="col">
                                            <div class="card h-100" style="width: 15rem;">
                                                    {{#if rare}}
                                                        <img src={{this.image_url}} class="card-img-top" style="padding: 5px;"
                                                            alt={{this.modelName}}>
                                                        <div class="overlay-div rounded-2"></div>
                                                        <div class="card-img-overlay text-light">
                                                            <h5 class="card-title">Secret Figurine</h5>
                                                            <p class="card-text">Hover over to see it!</p>
                                                        </div>
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{this.modelName}}</h5>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">Series: <span class="badge bg-primary">{{seriesName}} Series</span></li>
                                                            <li class="list-group-item">Rarity: <span class="badge bg-success">Rare</span></li>
                                                        </ul>
                                                    {{else}}
                                                        <img src={{this.image_url}} class="card-img-top" style="padding: 5px;"
                                                            alt={{this.modelName}}>
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{this.modelName}}</h5>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">Series: <span class="badge bg-primary">{{seriesName}} Series</span></li>
                                                            <li class="list-group-item">Rarity: <span class="badge bg-secondary">Common</span></li>
                                                        </ul>
                                                    {{/if}}
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/each}}
                {{else}}
                    <!-- Display message for empty collection -->
                    <p>You don't have any collections currently.</p>
                {{/if}}
        </div>
    
    </div>

</div>