<h1>My Profile</h1>
<div class="personal">
    <div class="profile">

        <div class="profileDetails">
            <div class="left">
                <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
                <h3>{{username}}</h3>
            </div>
            <div class="right">
                <h2>{{firstName}} {{lastName}}</h2>
                <div class="locationDiv">
                    <img src="/public/location.png" class="locationPicture">
                    <p>New York City, USA</p>
                </div>

                <div class="divider"></div>
                <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Favorite Figurine: Pikachu</p>
                <div class="edit">
                    <button type="submit" class="btn btn-light align-right" id="editProfile" name="editProfile">Edit
                        Profile</button>
                </div>
            </div>

        </div>
        <div class="modal" id="editProfileModal"  >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                        <button type="button" id = "closeEdit" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal content goes here -->
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="badges">
            <div class="buttontitle">
                <h2>My Badges</h2>

            </div>

            <p>You don't have any badges currently.</p>


        </div>

        <div class="wishlist">
            <div class="wishTitle">
                <h2>My Wishlist</h2>
                <button class="addWish" id="addWish">Add Wish</button>
            </div>


            <p>You don't have any wishes currently.</p>
            <div class="overlay" id="overlay"></div>
            <div class="wish-form-popup" id="wishformPopup">
                <h3>Add New Wish</h3>
                <div class="alert alert-danger" id="wishclientError"></div>
                <form id="wishForm" class="wishForm" action='/wishlist' method="POST">
                    <label class="wishLabel" id="wishLabel" for="wishName">Item:</label>
                    <input class="wishName" type="text" id="wishName" name="wishName" placeholder="Enter Wish Name">
                    <div class="closeButton">
                        <button class="wishSubmit" type="submit">Submit</button>
                    </div>
                </form>
                <div class="closeButton">

                    <button id="closeButton" class="wishClose">Close</button>
                </div>

            </div>
        </div>

    </div>

    {{#if eligible}}
    <div class="jumbotron">
        <h3>You are eligible to become an Admin!</h3>
        <p>If you are seeing this, you have been a user for at least 3 years, which
            makes you eligible to apply to become an admin.
        </p>
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#theModal">
            Apply here!
        </button>
        {{#if error}}
        <p class="alert alert-danger">{{error}}</p>
        {{/if}}
        <div class="modal" id="theModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Admin Application</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{#if error}}
                        <p class="alert alert-danger">{{error}}</p>
                        {{/if}}
                        <div class="alert alert-danger" style="display: none" id="clientError"></div>
                        <form id="admin-app" class="was-validated" action="/adminApplication" method="POST">
                            <div class="form-group">
                                <p>Please provide a valid email for identification.</p>
                                <label for="email">Email:</label>
                                <input class="form-control" type="text" id="email" name="email" required>


                                <label for="whyAdmin">Why would you like to be an admin?</label>
                                <textarea class="form-control" rows="5" id="whyAdmin" name="whyAdmin"
                                    required></textarea>

                                <button type="submit" class="btn btn-success" id="submitButton"
                                    name="submitButton">Submit Application</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>

    {{/if}}
    <div class="divider"></div>
    <div class="collection">
        <h2>My Collections</h2>
        <button class="addCollectionName">Add Collection</button>
    </div>

</div>