<div class="body">
<body>
{{!-- source the info from the businesses  --}}

    <h1>Business Profile</h1>
    <div class="business">
        <div class="profile">

            <div class="profileDetails">
                <div class="left">
                    <img src="/public/profile.png" alt="Profile Picture" class="profile-picture">
                    <h3>{{username}}</h3>
                </div>
                <div class="right">
                    <h2>{{storeName}} </h2>
                    <div class="locationDiv">
                        <img src="/public/location.png" class="locationPicture">
                        <p>{{city}}, {{state}}</p>
                    </div>

                    <div class="divider"></div>
                    {{#if bio}}
                    <p>About Us: {{bio}}</p>
                    {{else}}
                    <p>About Us: N/A</p>
                    {{/if}}
                </div>

            </div>

        </div>
        
        <div class="divider"></div>
        <div class="collection">
            <h2>What's in Stock</h2>
            <ul id ="stock-list">
                {{#each figurineStock}}
                    <li>{{this}}</li>
                {{/each}} 
            </ul> <br>

        </div>

    </div> 

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="../public/js/mainAjax.js"></script>

</body>
</div>
</html>
